.formaContainer{
    height: 100%;
    position: relative;
    margin-top: 100px;
}

.formaContent h2{
    margin: 0;
    text-align: center;
    font-family: "brand";
    color: white;
    font-size: 30px;
}

.formaTab{
    margin-top: 100px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.forma{
    width: 15%;
    height: 40vh;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.forma img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.colorBandTop{
    width: 200%;
    height: 200%;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    transform: translateY(-70%) translateX(-70%) rotate(45deg);
    transition: all 0.5s ease-in-out;
}

.forma:hover .colorBandTop{
    transform: translateY(-10%) translateX(-25%) rotate(45deg);
}

.colorBandBottom{
    width: 200%;
    height: 200%;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    transform: translateY(-30%) translateX(20%) rotate(45deg);
    transition: all 0.5s ease-in-out;
}

.forma:hover .colorBandBottom{
    transform: translateY(-100%) translateX(-25%) rotate(45deg);
}

.formaTitle{
    z-index: 999;
    position: absolute;
    color: white;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    top: 30%;
    width: 100%;
    text-align: center;
    text-shadow: 0px 3px 5px black;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.forma:hover .formaTitle{
    opacity: 1;
}

.formaList{
    display: grid;
    height: 70vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.formaDetail{
    box-shadow: 0px 0px 10px #B1A7A6;
    text-align: center;
    margin: auto;
    height: 40vh;
    width: 35vw;
    border-radius: 15px;
    color: white;
    text-shadow: 0px 3px 5px black;
    z-index: 999;
    position: relative;
}

.formaDetail h3{
    font-family: 'brand';
    font-size: 24px
}

.formaDetail h4{
    position: absolute;
    right: 30px;
    margin: 0;
    top: 30px;
}

.formaDetail p{
    margin: 7px;
}

.coaching{
    grid-column: span 2;
    grid-row-start: 2;
    height: 15vh;
    width: 75vw;
}

.stainTwo{
    width: 25%;
    height: 40%;
    position: absolute;
    top: 40%;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
}

.stainTwo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.formationsList{
    position: relative;
}

@media only screen and (max-width : 800px) {
    .formaContent{
        height: 90%;
    }
    .formationsList{
        height: 100vh;
    }
    .formaContent h2{
        padding: 50px;
    }
    .formaTab{
        flex-direction: column;
        height: 90%;
        margin-top: 0px;
    }
    .forma{
        height: 15vh;
        margin: auto;
        width: 80%;
    }
    .formaContainer{
        margin-top: 50px;
        height: 100vh;
    }
    .colorBandTop{
        transform: translateY(-10%) translateX(-80%) rotate(135deg) 
    }
    .colorBandBottom{
        transform: translateY(-100%) translateX(35%) rotate(135deg);
    }
    .forma:hover .colorBandTop{
        transform: translateY(-5%) translateX(-25%) rotate(135deg);
    }
    .forma:hover .colorBandBottom{
        transform: translateY(-100%) translateX(-25%) rotate(135deg);
    } 
    .formaTitle{
        top: 25%;
    }
    .formaList{
        gap: 10px;
        height: 100vh;
        width: 80%;
        grid-template-rows: repeat(3, 1fr);
        z-index: 999;
    }
    .formaDetail{
        height: 100%;
        width: 100%;
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 0px;
        box-shadow: 0px 0px 10px #B1A7A6;
    }
    .formaDetail p{
        font-size: 14px;
    }
    .coaching{
        grid-row-start: 3;
    }
    .coaching p{
        grid-column: span 2;
    }
    
    .formaDetail h3{
        font-size: 18px;
        word-break: break-all;
        grid-column: span 2;
    }
    .formaDetail h4{
        left: 50%;
        right: 50%;
        transform: translate(-50%);
        width: 100%;
        top: 13%;
    }
    .coaching h4{
        top: 25%;
    }
    .stainTwo{
        width: 100%;
        top: 30%;
    }
}