.homeContainer{
    background: linear-gradient(#0B090A,#161A1D);
    width: 100vw;
    height: 100%;
}

@media only screen and (max-width : 800px) {
    #root{
        height: 100vh;
        overflow: scroll;
        scroll-snap-type: y mandatory;
        background: linear-gradient(#0B090A,#161A1D);
        
    }
    section{
        scroll-snap-align: start;
    }
    .homeContainer{
        height: 100%;
    }
}




