.bioTwoContainer{
    width: 100%;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bioTwoContent{
    width: 50%;
    height: 50%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.bioTwoImage{
    height: 100%;
    position: absolute;
    grid-column-start: 2;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, transparent, transparent, transparent, transparent,transparent, transparent, #0004);
}

.bioTwoImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 15%;
}

.bioTwoText{
    color: white;
    text-align: center;
    height: 100%;
    grid-column-start: 1;
}

.bioTwoContent h2{
    font-family: "brand";
    color: white;
    text-align: center;
}

@media only screen and (max-width : 800px) {
    
    .bioTwoContent{
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        height: 90%;
        width: 100%;
    }
    .bioTwoImage{
        width: 100%;
        height: 65%;
        position: relative;
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .bioTwoImage img{
        width: 100%;
        height: 100%;
    }
    .bioTwoContainer{
        height: 100vh ;
        width: 80vw;
        margin: 30px auto;
    }
    .bioTwoText p{
        font-size: 14px;
    }
}