.contactContainer{
    height: 100vh;
    display: flex;
    position: relative;
    
}

.contactContent{
    margin: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
}

.contactContent h2{
    font-size: 30px;
    color: white;
    font-family: 'brand';
}

.contactContent img{
    width: 50px;
}

.contactContent h3{
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    width: 90%;
}

.mailButton{
    color: white;
    font-size: 24px;
    font-family: 'brand';
    box-shadow: 0px 0px 10px #B1A7A6;
    padding: 10px 20px;
    border-radius: 15px;
}

.smokeContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    opacity: 0.5;
    overflow: hidden;
}

.smokeContainer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
