.videoContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContent{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.videoContent video{
    width: 90%
}

@media only screen and (max-width : 800px) {
    .videoContainer{
        display: none;
    }
    .videoContent video{
        width: 80%;
    }
}